@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #edf4ea;
  --primary-color: #07404b;
  --button-color: #021331;
  --secondary-color: #bcdc49;
  --dark-green: #738933;
  --light-gray: #c9d4c5;
  --light: #ffffff;
  --black: #111111;
  ---gray:#808080;
}


body {
  background-color: var(--light-color);
  color: var;
  min-height: 100vh;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
